# Environment files
.ipynb_checkpoints/
.vscode/

# Caches
__pycache__/
__init__.py

# API key .yml files
api_keys.yml

# Nested repositories
book.solutions/An.Introduction.to.Statistics.with.Python/statsintro_python/

# Data
*.jsonl

# Various files
_model*
_book*
